<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="unit3_playwithlayout" frontName="unit3">
            <module name="Unit3_PlayWithLayout" />
        </route>
    </router>
</config>